<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <!--{% load staticfiles %}-->
    <!-- Required meta tags -->
    {% block title %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/test.css' %}" type='text/css'/>

    <style type="text/css">
        html, body {
          height:100%;
		  width:100%;
          background-color:#49525b;
          overflow: hidden;
        }
    </style>
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" style="color:white;">DeliverMe</a>
		</div
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="/" style="color:gray">Home</a></li>
				<li><a href="/wallet/"style="color:gray">Wallet</a></li>
				<li><a href="/chatlog/"style="color:gray">Chat Log</a></li>
                <!--<li><a href="/" style="color:gray">Posted</a></li>-->
			</ul>
			<ul class="navbar-nav ml-auto">
			<li>
					<a data-toggle="modal" data-target="#myModal" class="nav-item nav-link active" style="color:white">Tutorial
						<span class="sr-only">(current)</span>
					</a>
			</li>
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" style="">Tutorial</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<div id="carouselControls" class="carousel slide" data-ride="carousel">
										<ol class="carousel-indicators">
										</ol>
										<div class="carousel-inner">
											<div class="carousel-item active">
											<p> This is our home page</p>
											<p> There is nothing to do right now because you need to sign in.</p>
												<img class="d-block w-100" src="/static/pictures/Home.png">
											</div>
										<div class="carousel-item">
											<p> Click the sign up button at the top right corner.</p>
											<P> It will bring you to this page where you can sign up.</p>
											<img class="d-block w-100" src="/static/pictures/signup.png">
										</div>
										<div class="carousel-item">
											<p> Once you signed up, it will bring you back to the home screen.</p>
											<p> Now click the Log in button to log in to your new account, this screen will show.</p>
											<img class="d-block w-100" src="/static/pictures/login.png">
										</div>
										<div class="carousel-item">
											<p> Now that you logged in you can see that two buttons are added.</p>
											<p> One if you are making a request and another if you want to do deliver something.</p>
											<img class="d-block w-100" src="/static/pictures/newhome.png">
										</div>
										<div class="carousel-item">
											<p> If you clicked one of the add buttons, this popup will show up.</p>
											<p> When you click make request, a new task will show up.</p>
											<img class="d-block w-100" src="/static/pictures/additem.png">
											<img class="d-block w-100" src="/static/pictures/addingitem.png">
											<img class="d-block w-100" src="/static/pictures/newhomeadd.png">
										</div>
										<div class="carousel-item">
											<p>If you click wallet on it will take you to a page where you can login to your venmo account.</p>
											<img class="d-block w-100" src="/static/pictures/wallet.png">
										</div>
										<div class="carousel-item">
											<p> If you click chat log it will take you to a page for our chat feature.</p>
											<p> You are required to log in again for security reasons.</p>
											<img class="d-block w-100" src="/static/pictures/chat.png">
											<img class="d-block w-100" src="/static/pictures/chatlog.png">
										</div>
										<div class="carousel-item">
											<p> Lastly, you can check your profile by clicking on your name and then clicking settings.</p>
											<p> All the pictures are the same because we want it to be anonymous.</p>
											<p> Also no one else can see your profile so don't worry about your information getting leaked.</p>
											<img class="d-block w-100" src="/static/pictures/setting.png">
											<img class="d-block w-100" src="/static/pictures/profile.png">
										</div>
										
										<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
												<span class="carousel-control-next-icon" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user"></span> {{ user.username }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/setting">Settings</a>
						</div>
					</li>
				<li>
					<a href="/logout/" class="btn btn-inverse" style="color:#white;"><span class="glyphicon glyphicon-log-out" ></span> Log Out</a>
				</li>
				{% else %}
				<li>
					<a href="/login/" class="btn btn-inverse" style="color:#white"><span class="glyphicon glyphicon-log-in" ></span> Log In</a>
				</li>
				<li>
					<a href="/signup/" class="btn btn-inverse" style="color:#white"> Sign Up</a>
				</li>
				{% endif %}
			</ul>

		</div>
	</nav>
    <div id = "contents">
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </div>
    <footer class="page-footer"style="padding-top:80px;background-color:#343a40;">

    </footer>
</body>
</html>
