{% extends "deliverme/header.html" %}
<!doctype html>

  <head>
  	{% block title %}
    	<title>Home</title>
    {% endblock %}
  </head>

  <body>

  	{% block content %}

    <div class="container">
			<div class="row">
				<div class="col">
					Requesters
					<table border=".5">
						<tr>
                    		<th>User</th>
                    		<th>Title</th>
                    		<th>Description</th>
                    		<th>Location</th>
                    		<th>Posted Date</th>
                        </tr>
                    {% for post in post_list %}
                        {% if post.requester == True %}
                
                        	
                    	<tr>
                    		<td>{{ post.user }} </td>
                    		<td>{{ post.title }} </td>
                    		<td>{{ post.message }} </td>
                    		<td>Location: {{ post.location }} </td>
                    		<td>{{ post.time|date:"m-d-Y" }} </td>
                    	</tr>
                        <!-- <h5></h5>
                        <h5></h5>
                        <h5></h5> Location/Destination not implemented into model yet! 
                        <h5></h5> -->
                    </table>
                        {% endif %}
                    </br>
                    {% endfor %}
				</div>
				<div class="col">
					<iframe
						width="600"
						height="450"
						frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjIs-3O8NfJywAyNXhMprz0VbX6kq7Feg
						&q=Santa Cruz,SC" allowfullscreen>
					</iframe>
				</div>
				<div class="col">
					Deliverers
                    {% for post in post_list %}
                        {% if post.requester == False %}
                            <h5>{{ post.user }}</h5>
                            <h5>{{ post.title }}</h5>
                            <h5>Location: {{ post.location }}</h5> <!--Location/Destination not implemented into model yet! -->
                            <h5>Destination: {{ post.destination }}</h5>
                            <h5>{{ post.time|date:"m-d-Y" }}</h5>
                        {% endif %}
                            </br>
                    {% endfor %}
				</div>
			</div>
			<a data-toggle="modal" data-target="#addmod">Add a new item:
				<span class="sr-only">(current)</span>
			</a>
		</div>

		<div class="modal fade" id="addmod" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-haeder">
						<h5 class="modal-title" id="addmod">Add a new item</h5>
						    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
							    <label for="title-name" class="form-control-label">Title:</label>
								<input type="text" class="form-control" id="title-name">
							</div>
							<div class="form-group">
							    <label for="user-name" class="form-control-label">User:</label>
								<input type="text" class="form-control" id="user-name">
							</div>
							<div class="form-group">
							    <label for="message-text" class="form-control-label">Message:</label>
								<textarea class="form-control" id="message-text"></textarea>
							</div>
							<div class="form-group">
							    <label for="loc-name" class="form-control-label">Location:</label>
								<input type="text" class="form-control" id="loc-name">
							</div>
							<div class="form-group">
							    <label for="dest-name" class="form-control-label">Destination:</label>
								<input type="text" class="form-control" id="dest-name">
							</div>
							<div class="form-group">
							    <label for="time-name" class="form-control-label">Time:</label>
								<input type="text" class="form-control" id="time-name">
							</div>
							<div class="form-group">
							    <label for="request-name" class="form-control-label">Requester:</label>
								<input type="text" class="form-control" id="request-name">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Send message</button>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
