{% extends "deliverme/header.html" %}

  <head>
    {% block title %}
      <title>Signup</title>
    {% endblock %}
  </head>

{% block content %}
<img src="http://i0.kym-cdn.com/photos/images/original/001/337/786/426.png" alt="Smiley face" height="250px" width="250px">
<p>
    Username: {{ user.username }} <br>
    Full Name: {{ user.first_name }} {{ user.last_name }}<br>

    Email: {{ user.email }}    <br>
    Phone: {{ user.phone_number }}    <br>
    
    <br><br>
    Last Login:{{user.last_login}} <br>
    Date Joined: {{user.date_joined}} <br>

    
</p>




{% endblock %}
